* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
}

.section-banner {
    background-image: url("public/images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4488bb;
    padding: 30px 0;
}
@media (max-width: 575px) {
    .section-banner {
        padding: 20px 0;
    }
}

.section-banner h1 {
    margin-bottom: 30px;
    color: #ffffff;
}
@media (max-width: 575px) {
    .section-banner h1 {
        padding-bottom: 29px;
        width: 100%;
    }
}

.section-banner p {
    color: #ffffff;
    max-width: 500px;
}

.section__title {
    font-size: 48px;
    font-weight: bold;
}
@media (max-width: 991px) {
    .section__title {
        font-size: 42px;
    }
}
@media (max-width: 575px) {
    .section__title {
        font-size: 32px;
    }
}

.underline {
    display: inline-block;
    position: relative;
    border-bottom: 5px solid #fff;
}

.form {
    width: 290px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
    background-color: #ffffff;
    padding: 23px 20px 20px;
}
@media (max-width: 767px) {
    .form {
        margin: 30px auto 0;
    }
}

.form__title {
    font-size: 24px;
    font-weight: bold;
    color: #4488bb;
    margin-bottom: 14px;
}

.link-gray {
    font-size: 16px;
    color: #aaaaaa;
    transition: .2s ease;
}

.link-gray:hover {
    color: #4488bb;
    opacity: 1;
}

.form-input input {
    width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    border: 0;
    height: 50px;
    font-size: 16px;
    color: #aaaaaa;
    padding: 0 20px 0 9px;
    outline: none;
}

.form-input.error input,
.form-select.error .select2-selection--single {
    border: 1px solid #bb4444 !important;
}

.form-input.error input,
.form-input.error .form-label,
.form-input.error .form-clear,
.form-select.error .select2-selection__placeholder {
    color: #bb4444 !important;
}

.form-input.success input,
.form-select.success .select2-selection--single {
    border: 1px solid #4488bb !important;
}

.form-input.success input,
.form-input.success .form-label,
.form-input.success .form-clear,
.form-select.success .select2-selection__rendered {
    color: #4488bb !important;
}

.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 3px;
    background-color: #eeeeee;
    border: 0;
}

.select2-container .select2-selection--single {
    height: 50px;
    outline: none;
    font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #aaaaaa;
    line-height: 50px;
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    width: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #aaaaaa transparent transparent transparent;
    border-width: 10px 8px 0 8px;
    margin-left: -8px;
    margin-top: -5px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #aaaaaa transparent;
    border-width: 0 8px 10px 8px;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #aaaaaa;
    padding-left: 24px;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: #eeeeee;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: 1px;
    left: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #4488bb;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

.error [type="checkbox"] + label:before {
    border: 1px solid #bb4444;
}

.success [type="checkbox"] + label:before {
    border: 1px solid #4488bb;
}


.form-checkbox {
    margin-bottom: 17px;
}

.form-input, .form-select {
    position: relative;
    margin-bottom: 15px;
}

.form-label {
    position: absolute;
    font-size: 16px;
    color: #aaaaaa;
    top: 50%;
    left: 9px;
    transform: translateY(-50%);
    transition: .2s ease;
    cursor: text;
}

.active .form-label {
    top: 3px;
    transform: translateY(0);
    font-size: 10px;
}

.form-clear {
    position: absolute;
    color: #aaaaaa;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: 0;
    font-size: 24px;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: .2s ease;
    background-color: transparent;
}

.form-clear:hover {
    color: #4488bb;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

.col {
    flex: 1 0 0;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

/*.col-8{*/
/*    width: 100%;*/
/*    flex: 0 0 66.6666%;*/
/*    max-width: 66.6666%;*/
/*    padding: 0 5px;*/
/*}*/


.col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0;
    }
    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media(min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.333333%;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.666667%;
    }
}

.color-bg {
    background-color: #eeeeee;
}

.section-points {
    padding: 60px 0 80px;
}
@media (max-width: 575px) {
    .section-points {
        padding: 20px 0;
    }
}

.section-points h2 {
    margin-bottom: 50px;
    color: #4488bb;
    padding-right: 50px;
}
@media (max-width: 575px) {
    .section-points h2 {
        display: none;
    }
}

.circle-number {
    list-style-type: none;
    counter-reset: custom-counter;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.circle-number a {
    font-size: 18px;
    font-weight: bold;
    color: #4488bb;
}

.circle-number li {
    display: inline-block;
    counter-increment: custom-counter;
    position: relative;
    margin-bottom: 12px;
    padding-left: 50px;
}

.circle-number li:before {
    content: counter(custom-counter) "";
    width: 30px;
    height: 30px;
    background-color: #4488bb;
    font-size: 18px;
    font-weight: bold;
    color: #eeeeee;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.circle-number li:not(:last-child) a {
    padding-bottom: 8px;
    border-bottom: 1px dashed #aaaaaa;
}

a {
    transition: .2s ease;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    opacity: .7;
}

.section-suplist {
    padding: 20px 0;
}

.sup-number {
    padding-top: 11px;
    padding-left: 24px;
    border-left: 5px solid #4488bb;
    list-style-type: none;
    counter-reset: sup-counter;
}

.sup-number li {
    position: relative;
    counter-increment: sup-counter;
    font-size: 18px;
    color: #4488bb;
    padding-bottom: 11px;
    padding-left: 10px;
}

.sup-number li:before {
    content: counter(sup-counter) "";
    position: absolute;
    top: -6px;
    left: 0;
    font-size: 12px;
}

.preview {
    position: relative;
}
@media (max-width: 991px) {
    .preview {
        display: none;
    }
}

.preview img {
    max-width: 503px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
@media (max-width: 1199px) {
    .preview img {
        max-width: 86%;
    }
}

.post__text {
    background-color: rgba(68, 136, 187, 0.75);
    color: #eeeeee;
    padding: 5px 12px 8px 20px;
    max-height: 100%;
    width: 100%;
    position: relative;
}
@media (max-width: 767px) {
    .post__text {
        height: 100%;
    }
}

.post__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__description {
    font-size: 14px;
    line-height: 1.29;
    margin-top: 0;
    opacity: 0;
    height: 0;
    transition: .2s ease;
}
@media (max-width: 767px) {
    .post__description {
        height: 100%;
        opacity: 1;
        margin-top: 0;
    }
}

.post__text.open .post__description {
    height: 100px;
    opacity: 1;
    margin-top: 8px;
}

.post {
    height: 150px;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
}

.section-posts {
    padding: 75px 0 50px;
}
@media (max-width: 575px) {
    .section-posts {
        padding: 20px 0 0;
    }
}

.post__image {
    position: absolute;
    height: 100%;
    width: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100%;
}

.btn-toggle-visible {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
    outline: none;
}

.btn-toggle-visible:hover {
    transform: scale(1.1);
}

.btn-primary {
    height: 30px;
    border-radius: 2px;
    background-image: linear-gradient(to top, #4488bb, #2e5d80);
    border: 0;
    line-height: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #eee;
    padding: 0 38px;
    cursor: pointer;
    transition: .2s ease;
    outline: none;
}

.btn-primary:hover {
    opacity: .7;
}

.btn-wrapper {
    display: flex;
    align-items: center;
}

.btn-wrapper .btn-primary{
    margin-right: 20px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.75);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    width: 100%;
    max-width: 590px;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 3px;
    padding: 20px;
}

.no-scroll {
    overflow: hidden;
}

.modal-header {
    position: relative;
    margin-bottom: 27px;
}

.modal .title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    padding-right: 50px;
}

.modal .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: transparent;
    background-image: url("public/images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    outline: none;
    cursor: pointer;
    transition: .2s ease;
}

.modal .close:hover {
    opacity: .7;
}

.modal-body {
    font-size: 16px;
    color: #333333;
}

.modal-footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal-footer .link-gray {
    margin-right: 20px;
}

.d-none {
    display: none !important;
}

.tooltip {
    position: absolute;
    background-color: #bb4444;
    font-size: 16px;
    padding: 11px 13px;
    color: #eeeeee;
    border-radius: 2px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
    display: none;
}

.tooltip:after {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    border-color: transparent transparent #bb4444 transparent;
    margin-left: 0;
    margin-top: -8px;
    border-style: solid;
    border-width: 0 8px 10px 8px;
    transform: translateX(-50%);
}
